* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3f3f3;
}

/* navigation bar */
.topnav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #ffffff;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.topnav .company-name {
  font-weight: bolder;
  text-decoration: none;
  font-size: larger;
  color: black;
}

.topnav li {
  list-style: none;
  display: inline-block;
  font-size: large;
  padding-left: 10px;
  padding-right: 10px;
}

.topnav li a {
  text-decoration: none;
  color: #626364;
}

.topnav .button {
  border: 2px solid gray;
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
}
.topnav .button:hover {
  background-color: #44ae8f;
  color: #ffffff;
}

/* main */
/* .main {
  margin: 0;

  background-color: #ffdee9;
  background-image: linear-gradient(0deg, #ffdee9 0%, #b5fffc 100%);
  padding-bottom: 500px;
  /* background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%); */

/* background-image: linear-gradient(to bottom left, #df9ecb, white); 
} */
section {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section :nth-child(1) {
  background-image: linear-gradient(to bottom left, #df9ecb, white);
}
.main-button1 {
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  background-color: #206d69;
  color: #ffffff;
  margin-right: 10px;
}
.main-button2 {
  padding: 10px 30px 10px 30px;
  border-radius: 5px;
  margin-left: 10px;
}
.main-button1:hover {
  background-color: #44ae8f;
  color: #ffffff;
}

.main-button2:hover {
  background-color: #44ae8f;
  color: #ffffff;
}

.main-text-h1 {
  font-size: 40px;
}

.main-text-p {
  font-size: large;
}
